<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title><%=siteTitle%></title>
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico">
<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css" type='text/css' media='all'>
<link href="//at.alicdn.com/t/font_1678829_1mxi55l93a3.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="<%= themeConfig.siteName%> » Feed" href="<%= themeConfig.domain %>/atom.xml">
<%if(site.customConfig.ga){%>
<script async src="//www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
<script>window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date());
  gtag('config', '<%= site.customConfig.ga %>');</script>
<%}%>