<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title><%=siteTitle%></title>
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico">
<link href="<%= themeConfig.domain %>/styles/main.css?v=<%= site.utils.now %>" rel="stylesheet">
<link href="//at.alicdn.com/t/font_1678829_afhb9tnuz3p.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="<%= themeConfig.siteName%> » Feed" href="<%= themeConfig.domain %>/atom.xml">
<%if(site.customConfig.busuanzi){%>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<%}%>